.integrations {
  grid-row-start: 8;
  grid-row-end: 8;
  position: absolute;
  overflow: hidden;
  width: 1224px;
  height: 364px;
  top: 4157px;
  left: 108px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  z-index: 0;
}

@media screen and (max-width: 767px){
  .integrations {
    display: none;
  }
}