* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 4883px;
}

:root {
  --cor-close-blue: #0B485B;
  --cor-medium-blue: #19C1CE;
  --cor-light-blue: #07E5EB;
  --cor-close-yellow: #F2BF4E;
  --cor-light-yellow: #F4CA6D;
  --cor-black: #000000;
  --cor-graphite: #212429;
  --cor-close-gray: #7E8A98;
  --cor-medium-gray: #97A1AC;
  --cor-light-gray: #CFD3D8;
  --cor-white: #FFFFFF;
  --cor-off-white: #F1F3F5;
}

.page {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-gap: 24px;
}

/* @media screen and (max-width: 767px) {
    .page {
    width: 767px;
    width: 100%;
    display: grid;
    grid-template-columns: (1, 1fr);
  }
}

@media screen and (max-width: 360px) {
  .page {
  width: 360px;
}
} */