.button_color_white {
  width: 94px;
  Height: 40px;
  top: 20px;
  left: 1100px;
  background-color: #FFFFFF;
  box-shadow: inset 0px 0px 1px 1px #212429;
  grid-column-start: 18;
  grid-column-end: 18;
  grid-row: 1;
}