.button__icon {
  position: fixed;
  top: 4.7vh;
  left: 1245px;
  width: 13.3px;
  height: 7.5px;
  grid-column-start:22;
  grid-column-end: 22;
  grid-row: 1;
  z-index: 1;
}


@media screen and (min-width: 1441px) {
  .button__icon {
    display: none;
  }
}