.article__together {
  position: absolute;
  width: 600px;
  height: 242px;
  left: 108px;
  top: 810px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  gap: 24px;
}