.article__list{
  position: absolute;
  width: 456px;
  height: 531px;
  left: 861px;
  top: 1205px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  gap: 24px;
  color: var(--cor-graphite);
  margin-top: 80px;
}

.article__list p, .article__list h2, .article__list li {
  color: var(--cor-graphite);
}



@media screen and (max-width: 767px){
  .article__list {
    left: 150px;
    top: 1870px;
    max-width: 350px;
    gap: 16px;
  }
}

@media screen and (max-width: 360px){
  .article__list {
    left: 5px;
    top: 1880px;
    width: 328px;
  }
}