.article__integrations {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  width: 600px;
  height: 244px;
  color: var(--cor-graphite);
}

.article__integrations p {
  color: var(--cor-graphite);
}