.demo {
  grid-row-start: 7;
  grid-row-end: 7;
  position: absolute;
  overflow: hidden;
  width: 1440px;
  height: 605px;
  top: 3552px;
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
  z-index: 0;
}
@media screen and (max-width: 767px){
  .demo {
    display: none;
  }
}