.demo__iframe {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 200px;
  width: 1212px;
  height: 682px;
  display: none;
  background: var( --cor-white);
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 30px;
  box-shadow: 0px 8px 18px rgba(33, 36, 41, 0.16);
  border-radius: 2px;
}