.demo__shape {
  background-image: url(../../Assets/shapes/demo__shape.png);
  position: absolute;
  grid-row-start: 7;
  grid-row-end: 7;
  width: 1332px;
  height: 317px;
  z-index:1;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px){
  .demo__shape {
    display: none;
  }
}