.demo__texts {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 4;
  width: 392px;
  height: 105px;
  z-index: 3;
  left: 108px;
  top: 210px;
}

@media screen and (max-width: 767px){
  .demo__texts {
    display: none;
  }
}