.demo__play {
  position: absolute;
  background-color: var(--cor-off-white);
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 1;
  width: 112px;
  height: 112px;
  padding: 38px 40px;
}