.demo__shape-play {
  position: absolute;
  grid-row-start: 7;
  grid-row-end: 7;
  background-image: url(../../Assets/images/play.png);
  width: 160px;
  height: 160px;
  flex-direction: center;
  align-items: center;
  left: 905px;
  top: 250px;
  z-index: 3;
}
@media screen and (max-width: 767px){
  .demo__shape-play {
    display: none;
  }
}