.form__input {
  box-sizing: border-box;
  height: 40px;
  background: var( --cor-white);
  border: 2px solid var(--cor-black);
  box-shadow: inset 6px 6px 0px #EEFBFB;
  text-align: start;
  padding: 10px;

  width: 448px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--cor-medium-gray);
}