.benefits__cards {
  max-width: 1224px;
  min-height: 874px;
  color: var(--cor-graphite);
  display: flex;
  direction:row;
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  padding-top: 48px;
}

@media screen and (max-width: 767px){
  .benefits__cards {
    display: none;
  }
}