.header {
  overflow: hidden;
  width: 1440px;
  height: 80px;
  grid-column-start: 1;
  grid-column-end: 24;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 767px){  
  .header {
    width: 767px;
    height: 96px;
    justify-items: space-between;
  }
}

@media screen and (max-width: 360px){  
  .header {
    max-width: 360px;
    left: 16px;
  }
}