.sanduiche_close-btn {
  width: 16px;
  height: 16px;
  display: none;
}

@media screen and (max-width: 767px) { 
  .sanduiche_close-btn {
    background-image: url(../../../../Assets/icons/button_indicator/Exit.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    display: none;
    z-index: 4;
    top: 24px;
    margin: 0 0 0 auto;
    right: 0;
  }
}

@media screen and (max-width: 360px) { 
  .sanduiche_close-btn {
    padding: 0 0 0 16px;
  }
}
