.sanduiche__container {
  max-width: 767px;
  max-height: 408px;
  background-color: var( --cor-white);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 57px;
  z-index: 4;
}

.sanduiche__grid-one {
  grid-row: 1;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sanduiche__grid-two {
  grid-row: 2;
}