.hero {
  overflow: hidden;
  width: 1440px;
  height: 650px;
  grid-column-start: 1;
  grid-column-end: 24;
  grid-row-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 767px){
  .hero {
    width: 767px;
    height: 1519px;
  }
}


@media screen and (max-width: 360px){
  .hero {
    width: 328px;
  }
}