.cta {
  position: absolute;
  grid-row-start: 6;
  grid-row-end: 6;
  width: 1224px;
  height: 396px;
  left: 108px;
  top: 3157px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}