.cta {
  grid-row-start: 6;
  grid-row-end: 6;
  position: absolute;
  overflow: hidden;
  width: 1224px;
  height: 396px;
  left: 108px;
  top: 3157px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px){
  .cta {
    display: none;
  }
}