.hero-form__title {
  width: 448px;
  height: 52px;
  left: 860px;
  top: 160px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
  color: #212429;
}