.hero-form {
  overflow: hidden;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 10;
  grid-column-end: 24;
  position: absolute;
  width: 496px;
  height: 1083px;
  left: 860px;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  background:var( --cor-white);
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
  z-index: 3;
}

@media screen and (max-width: 767px){
  .hero-form {
    max-width: 767px;
    top: 460px;
    left: 136px;
  }
}

@media screen and (max-width: 360px){
  .hero-form {
    width: 328px;
    height: 1050px;
    top: 425px;
    left: 16px;
  }
}