.footer__logo {
  position: absolute;
  width: 174px;
  height: 32px;
  background-image: url(../../Assets/images/logo_footer.png);
  background-repeat: no-repeat;
  z-index: 2;
  left: 108px;
  top: 14px;
  margin: 40px 0 24px;
}