.footer__logo {
  position: absolute;
  width: 174px;
  height: 32px;
  background-image: url(../../Assets/images/RD_logo.png);
  background-repeat: no-repeat;
  z-index: 3;
  left: 108px;
  top: 4562px;  
}