.list__itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 24px;
  list-style-image: url(../../Assets/icons/checkmark/Vector.png);
  z-index: 3;
}

@media screen and (max-width: 767px){
  .list__itens {
    width: 350px;
  }
}

@media screen and (max-width: 360px){
  .list__itens {
    top: 1979px;
    padding-left: 30px;
    width: 300px;
  }
}