.list__photo {
  grid-row: 3;
  position: absolute;
  width: 600px;
  height: 600px;
  left: 108px;
  top: 1283px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  background-image: url(/Assets/images/check_list.png);
  background-repeat: no-repeat;
  z-index: 2;
}