.list__shape {
  grid-row: 3;
  background-image: url(../../../Assets/shapes/shape__list.png);
  width: 1440px;
  height: 902px;
  left: 0;
  top: 1061px;
  z-index: 1;
  position: absolute;
}

@media screen and (max-width: 767px){
  .list__shape {
    width: 767px;
    height: 900px;
    left: 938px;
    top: 1899px;
  }
}

@media screen and (max-width: 360px){
  .list__shape {
    width: 360px;
  }
}