.list__shape {
  grid-row: 3;
  background-image: url(../../../Assets/shapes/shape__list.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 1440px;
  height: 902px;
  left: 0;
  top: 1061px;
  z-index: 1;
  position: absolute;
}

@media screen and (max-width: 767px){
  .list__shape {
    width: 767px;
    height: 1200px;
    top: 1750px;
  }
}

@media screen and (max-width: 360px){
  .list__shape {
    width: 360px;
    top: 1850px;
  }
}