.menu__container {
  max-width: 799px;
  max-height: 195px;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px;
  z-index: 2;
}

.container__grid-one {
  grid-column: 1;
  list-style-type: none;
}

.container__grid-two {
  grid-column: 2;
  list-style-type: none;

}

.container__grid-three {
  grid-column: 3;
  list-style-type: none;
}