.menu {
  list-style: none;
  position: absolute;
  top: 60px;
  left: 200px;
  width: 799px;
  height: 195px;
  display: none;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  z-index: 4;
  padding: 24px;
  box-shadow: 0px 8px 18px rgba(33, 36, 41, 0.16);
  border-radius: 2px;
}