.together__shape {
  position: absolute;
  background-image: url(../../../Assets/shapes/shape__together.png);
  width: 96px;
  height: 96px;
  left: 0;
  top: 729px;
  z-index: 1;
  overflow: hidden;
}


