.title-medium_black {
  color: var(--cor-graphite);
  width: 600px;
  height: 80px;
  margin-top: 140px;
  position: absolute;
}

@media screen and (max-width: 767px){
  .title-medium_black {
    width: 328px;
  }
}