.button {
  all: unset;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background: var(--cor-off-white);
  border: 1px solid var(--cor-light-blue);
}