.button__header_blue {
  width: 122px;
  height: 40px;
  background-color: var(--cor-medium-blue);
  box-shadow: 0.3px 5.2px 2.5px -2px var(--cor-graphite);
  border: 1px solid var(--cor-medium-blue);
}

.button__header_blue:hover {
  background: var(--cor-off-white);
  border: 1px solid var(--cor-light-blue);
}