.button__cta-yellow {
  top: 272px;
  width: 256px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 8px 24px;
  background: #F2BF4E;
  /* background-repeat: no-repeat; */
  z-index: 2;  
  position: absolute;
}

.button__cta-yellow:hover {
  background: #F1F3F5;
  border: 1px solid #07E5EB;
}