.button__header_blue {
  width: 122px;
  height: 40px;
  background-color: #19C1CE;
  box-shadow: 0.3px 5.2px 2.5px -2px #212429;
  border: 1px solid #19C1CE;
}

.button__header_blue:hover {
  background: #F1F3F5;
  border: 1px solid #07E5EB;
}