.button__header_white {
  width: 94px;
  Height: 40px;
  background-color: var( --cor-white);
  box-shadow: 1px 5.2px 2.5px -2px var(--cor-graphite);
  border: 1px solid var(--cor-graphite);
}

.button__header_white:hover {
  background: var(--cor-off-white);
  border: 1px solid var(--cor-light-blue);
}

@media screen and (max-width: 767px) and (min-width: 360px){  .button__header_white {
    display: none;
  }
}