.button {
  all: unset;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 8px 16px;
}

button:hover {
  background: #F1F3F5;
  border: 1px solid #07E5EB;
}