.button__header_white {
  width: 94px;
  Height: 40px;
  background-color: #FFFFFF;
  box-shadow: 1px 5.2px 2.5px -2px #212429;
  border: 1px solid #212429;
}

.button__header_white:hover {
  background: #F1F3F5;
  border: 1px solid #07E5EB;
}