.button__hero-yellow {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 400px;
  background: var(--cor-close-yellow);
  box-shadow: 1px 9.2px 5.5px -5px var(--cor-graphite);
  border: 1px solid var(--cor-close-yellow);

}

.button__hero-yellow:hover {
  background: var(--cor-off-white);
  border: 1px solid var(--cor-light-blue);
}