.button__integrations {
  width: 257px;
  height: 44px;
  background-color: var(--cor-medium-blue);
  box-shadow: 0.3px 5.2px 2.5px -2px var(--cor-graphite);
  border: 1px solid var(--cor-medium-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0 120px 0;
}

.button__integrations:hover {
  background: var(--cor-off-white);
  border: 1px solid var(--cor-light-blue);
}
